body{
font-family: Montserrat;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: Montserrat;
  font-size:3.5rem;
  font-weight: bolder;
  line-height: 1.5;
}

h2{

  font-family: Montserrat;
  font-size:3rem;
  font-weight: bold;
  line-height: 1.5;

}

h3{
  font-family: "Montserrat";
   font-size: 1.5rem;
   font-weight: bold;
}

p{
  color: grey;
}


.container-fluid{
  padding: 3% 15% 7%;
}


.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-family: Montserrat;
  font-size: 1.2rem;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 8%;
  position: absolute;
  right: 20%;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}


/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color:#ef8172;
  color: #fff;

}


.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 5%;
}

#press{
  background-color:#ef8172;
  /* padding: 7% 13%; */
  text-align: center;
  padding-bottom: 3%;

}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


.carousel-item{
    padding: 7% 13%;
}


/* Pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

.card-price{
  font-family: "Montserrat";
  /* font-weight: bold; */
}

.spaces{
  margin-bottom: 57px;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: white;
}

.download-button-end{
  margin: 3% 2% 3% 0;
}

#footer{
  background-color: white;
  text-align: center;
  padding: 7% 15%;
}

.footer-paragraph{
  margin-top: 20px;
}

.cta-header{
  font-size: 3.5rem;
  line-height: 1.5;
  /* margin: 0 270px; */
}

.icons{
  margin: 0 8px;
}

@media(max-width: 976px){
  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}
